<!DOCTYPE html>
<html>
<head>
<title>Quiz Smart</title>
</head>

<meta name="viewport" content="width=device-width">
<link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
<link href="/stylesheets/MainPage.css" rel="stylesheet">


<body>



<ul class="topnav" id="myTopnav">
  <li><img src="https://s3.amazonaws.com/quizsmart/QuizSmartIcon.png" alt="Logo" style="width:100px;height:17px;"></li>
  <li><a href="index">My Quizzes</a></li>
  <li><a href="record">Record</a></li>
    <li><a href="faq">FAQ</a></li>
  <li class="icon">
    <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
  </li>
</ul>

<ul class="quizlist" id="myQuiz" style="list-style-type:none">


</ul>

<div class="nameinput title">
  <p> Question Set {{index}} </p> 
</div>

<div class="schedulebutton">
  <p><a href={{scheduleurl}}><b> SCHEDULE </b></a></p>
</div>


{{#if status}}

<div class="answerbutton toggle green" id="sabutton"> 
  <a href={{activate}} ><b> Activated </b></a>
</div>

{{else}}

<div class="answerbutton toggle red" id="sabutton"> 
  <a href={{activate}} ><b>  Disabled </b></a>
</div>

{{/if}}

<div class="answerbutton toggle" id="sabutton"> 
  <a href="#answershowed" onclick="dummyAnswer()"><b> Toggle Answer </b></a>
</div>


{{#each questions}}

{{#if this}}

</div>

<div class="quizcard">
<div class="quizheader">
  <p><b>Question</b></p>
</div>
<div id="quizquestion" class="quizquestion">
  <p>{{this.q_text}}</p>
  <p name="answer" class="answer">{{this.a_text}}</p>
</div>
<div class="answerbutton"> 
  <a href={{qurl}} onclick=""><b> Delete </b></a>
</div>

</div>
{{/if}}
{{/each}}


<form role="form" method="get" action="{{addurl}}">
<div class="adding">
   
      <div>
        <label for="name">Question:</label>
        <input type="text" class="inputbox gr" id="new_ques" placeholder="Enter quiz question here" name="new_ques">
      </div>
      <div>
        <label for="description">Answer:</label>
        <input type="text" class="inputbox gr" id="new_answer" placeholder="Enter answer here" name="new_answer">
      </div>
      <input type="submit" class="inputbox submitbox"  value="Add New Question : )"></input>
</div>
</form>



<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/MainPage.js"></script>



</body>
</html>