<!DOCTYPE html>
<html>
<head>
<title>Quiz Smart</title>
</head>

<meta name="viewport" content="width=device-width">
<link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
<link href="/stylesheets/MainPage.css" rel="stylesheet">


<body>

<ul class="topnav" id="myTopnav">
  <li><img src="https://s3.amazonaws.com/quizsmart/QuizSmartIcon.png" alt="Logo" style="width:100px;height:17px;"></li>
  <li><a href="index">My Quizzes</a></li>
  <li><a href="record">Record</a></li>
  <li><a href="faq">FAQ</a></li>
  <li class="icon">
    <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
  </li>
</ul>

<ul class="quizlist" id="myQuiz" style="list-style-type:none">


  <li></li>


</ul>

<!-- <div class="card">

	<div class="cardheader">
	<p><b>COGS101A</b></p>
	</div>

  <div class="container"> 
    <p> <b>10</b> Questions in set. <br> <b>Preview</b>: What are the factors that can affect human perceiption of light ? <br> Why human cannot fly ? <br> Why is this assignment so long ?</p> 

  </div>
  <img class= "activeIcon" src="https://s3.amazonaws.com/quizsmart/ActiveIcon.png" alt="Avatar" style="width:80px; height:20px">
  
</div>

<div class="card">

	<div class="cardheader">
	<p><b>CSE 170</b></p>
	</div>
  <div class="container"> 
    <p> <b>5</b> Questions in set. <br> <b>Preview</b>: What are the factors that can affect human perceiption of light ? <br> Why human cannot fly ? <br> Why is this assignment so long ?</p> 
  </div>
  <img class= "activeIcon" src="https://s3.amazonaws.com/quizsmart/InactiveIcon.png" alt="Avatar" style="width:90px; height:20px">
  
</div> -->

{{#each quizset}}
  <a href={{url}}  class="cardwrapper">
  <div class="card">
  <div class="cardheader">
  <p><b> {{name}} </b></p>
  </div>
  <div class="container"> 
    <p> <b>{{num_question}}</b> Questions in set. <br><br> <b>Preview:</b> 
    {{#if this.questions.[0]}} <br> {{this.questions.[0].q_text}} {{else}} No questions in set, please click to add : ) {{/if}} 
    {{#if this.questions.[1]}} <br> {{this.questions.[1].q_text}} {{/if}}  
    {{#if this.questions.[2]}} <br> {{this.questions.[2].q_text}} {{/if}} 
    {{#if this.questions.[3]}} <br> click to view more ... {{/if}} 
    </p> 
  </div>
  {{#if this.status}}
  <img class= "activeIcon" src="https://s3.amazonaws.com/quizsmart/ActiveIcon.png" alt="Avatar" style="width:90px; height:20px">
  {{else}}
  <img class= "activeIcon" src="https://s3.amazonaws.com/quizsmart/InactiveIcon.png" alt="Avatar" style="width:90px; height:20px">
  {{/if}}
  </div>
  </a>
{{/each}}

<div class="schedulebutton">
  <p><a href="/record"><b> VIEW RECORD </b></a></p>
</div>

<!-- <div class="addnewbutton">
  <p><a href="addnewquiz"><b> Add New Quiz Set </b></a></p>
</div> -->

<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/MainPage.js"></script>


</body>
</html>